<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <meta charset="utf-8">
    <title>HTML</title>
  </head>
  <body>
    <div class="page-header">
        <h1><a href="/">갓갓용욱's 첫 웹프</a></h1>
    </div>
    <div class="menu-bar">
      <a href="{% url 'post_new' %}" class="top-menu">역사적인 현장에 본인의 발자취 남기기</a>
    </div>
    <div class="content-container">

        <div class="row">
            <div class="post_box">
            {% block content %}
            {% endblock %}
            </div>
        </div>
    </div>
</body>
</html>
